*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

main {
    height: 100vh;
    width: 100vw;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card {
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    height: 50vh;
    width: 30vw;
    position: relative;
    z-index: 2;
}
.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    position: relative;
}

.card-text{
    text-align: center;
    position: absolute;
    bottom: 1%;
    transform: translateY(-50%);
}

.bg-card{
    background: url('./images/bg-pattern-card.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
}

.img-card{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 50%;
    border: 5px solid white;
}

.bg-img {
    position: absolute;
    z-index: 1;
    opacity: 0.5;
}

.bg-1 {
    top: -60%;
    left: -20%;
}

.bg-2{
    bottom: -60%;
    right: -20%;
}

.card-footer {
    border-top: 0.5px solid #010101;
    text-align: center;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.status {
    font-size: 12px;
    font-weight: 400;
}

.country {
    padding-bottom: 14px;
}

@media screen and (max-width: 768px) {
    body{
        font-size: 14px;
    }
    .card{
        width: 80vw;
        height: 60vh;
    }
    .bg-1{
        top: 0;
        left: 0;
    }
    .bg-2{
        bottom: 0;
        right: 0;
    }
}